<?xml version="1.0" encoding="UTF-8"?>

<Context>

<Resource name="jdbc/PollDatasource" auth="Container"
          type="javax.sql.DataSource" driverClassName="org.apache.derby.jdbc.ClientDriver"
          url="jdbc:postgresql://localhost:5432/parking;create=true"
          username="postgres" password="postgres" maxActive="20" maxIdle="10" maxWait="-1"/>
        </Context>

